* {
    box-sizing: border-box;
}
html {
    position: relative;
    min-height: 100%;
}
body {
/* Margin bottom by footer height */
    margin-bottom: 60px;
}

img {
    max-width: 100%;
    height: auto;
}
